<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="START" value="08:00" />
		<add key="STOP" value="16:00" />
		<add key="INTERVAL" value="1" />
		<add key="ACTION_QTY" value="3" />
		<add key="START_WITH_WINDOW" value="1" />
		<add key="ALLOW_FORCE_ENDTASK" value="0" />
		<add key="LIVE_CAPTURE_CHECK_FREQUENT" value="30" />
		<add key="SOUND_DETECT" value="1" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>